body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #bccde1;
}
    #logo {
    width: 80px;
    margin-left: 10px;
    margin-top: 15px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#encriptadorContainer{
    width: 600px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#salidaEncriptado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 485px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10px
    ;
}
#zonaEncriptado{
    background-color: #bccde1 ;
    color: #063971;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 400px;
    height: 350px;
    margin-top: 40px;
    border: none;
    outline: none;
}
#encriptar{
    margin-right: 20px;
    border: 0;
    background-color: #063971;
    color: white;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

form{
    display: flex;
}
#desencriptar{
    border: 1px solid #063971;
    color: #063971;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

#salidaEncriptado img{
    width: 200px;

}
#salidaEncriptado h2{
    width: 200px;
    text-align: center;
}
#salidaEncriptado p {
    width: 200px;
    text-align: center;

}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
#salidaEncriptado textarea{
    width: 250px;
    height: 350px;
    background-color: white ;
    color: black;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
}
#salidaEncriptado button{
    border: 1px solid #063971;
    color: #063971;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
@media only screen and (max-width: 950px){

#encriptadorContainer{
    width: 750px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#zonaEncriptado{
    width: 600px;
    height: 450px;
}
#salidaEncriptado{
     display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
#salidaEncriptado img{
    visibility: hidden;
    width: 0;
    height: 0;
}
#salidaEncriptado h2{
    width: 400px;
    height: 50px;
    margin: 0;
    
}
#salidaEncriptado p{
    width: 400px;
    height: 50px;
    margin: 0;
}
#salidaEncriptado textarea{
    width: 500px;
    height: 150px;
    background-color: white ;
    color: black;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;

}
#salidaEncriptado button{
    border: 1px solid #063971;
    color: #063971;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
}
@media only screen and (max-width: 600px){

#encriptadorContainer{
    width: 400px;
    height: 500px;
}
#zonaEncriptado {
    width: 300px;
    height: 300px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
form button{
    margin: 10px;
}

#salidaEncriptado{
    margin-top: 60px;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#salidaEncriptado h2{
    width: 200px;
    margin-bottom: 15px;
}
#salidaEncriptado p{
    width: 200px;
}
#salidaEncriptado textarea{
    width: 300px;
    height: 200px;

}

}